@model Agenda.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var item in Model.UrgencyList)
                    {
                        switch (item.ObjectId)
                        {
                            case AgendaDataAccessLayer.EventUrgency.VeryUrgent:
                                <th scope="col" class="very-urgent display-6">
                                    @item.Name
                                </th>
                                break;
                            case AgendaDataAccessLayer.EventUrgency.Urgent:
                                <th scope="col" class="urgent display-6">
                                    @item.Name
                                </th>
                                break;
                            case AgendaDataAccessLayer.EventUrgency.Normal:
                                <th scope="col" class="normal display-6">
                                    @item.Name
                                </th>
                                break;
                            case AgendaDataAccessLayer.EventUrgency.NotUrgent:
                                <th scope="col" class="not-urgent display-6">
                                    @item.Name
                                </th>
                                break;
                            case AgendaDataAccessLayer.EventUrgency.NotUrgentAtAll:
                                <th scope="col" class="not-urgent-at-all display-6">
                                    @item.Name
                                </th>
                                break;
                            default:
                                break;
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{

                    <td class="very-urgent">
                        @foreach (var item in Model.EventList.Where(i => i.EventUrgencyId == AgendaDataAccessLayer.EventUrgency.VeryUrgent))
                        {
                            <ul>
                                <li>
                                    @item.Title: @item.EventDate.ToString("dd-MM-yyyy")
                                </li>
                            </ul>
                        }
                    </td>
                    <td class="urgent">
                        @foreach (var item in Model.EventList.Where(i => i.EventUrgencyId == AgendaDataAccessLayer.EventUrgency.Urgent))
                        {
                            <ul>
                                <li>
                                    @item.Title: @item.EventDate.ToString("dd-MM-yyyy")
                                </li>
                            </ul>
                        }
                    </td>
                    <td class="normal">
                        @foreach (var item in Model.EventList.Where(i => i.EventUrgencyId == AgendaDataAccessLayer.EventUrgency.Normal))
                        {
                            <ul>
                                <li>
                                    @item.Title: @item.EventDate.ToString("dd-MM-yyyy")
                                </li>
                            </ul>
                        }
                    </td>
                    <td class="not-urgent">
                        @foreach (var item in Model.EventList.Where(i => i.EventUrgencyId == AgendaDataAccessLayer.EventUrgency.NotUrgent))
                        {
                            <ul>
                                <li>
                                    @item.Title: @item.EventDate.ToString("dd-MM-yyyy")
                                </li>
                            </ul>
                        }
                    </td>
                    <td class="not-urgent-at-all">
                        @foreach (var item in Model.EventList.Where(i => i.EventUrgencyId == AgendaDataAccessLayer.EventUrgency.NotUrgentAtAll))
                        {
                            <ul>
                                <li>
                                    @item.Title: @item.EventDate.ToString("dd-MM-yyyy")
                                </li>
                            </ul>
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>